---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="space-y-4 max-w-3xl py-2">
  <details
    class="group [&_summary::-webkit-details-marker]:hidden shadow rounded"
  >
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 bg-gray-50 p-4 text-gray-900 bg-primary-100 "
    >
      <h2 class="font-medium">
        {title}
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <p class="leading-relaxed text-gray-700 px-4 pb-2">
      <slot/>
    </p>
  </details>
</div>
