---
export interface Props {
  questionsAndAnswers: {
    question: string;
    answer: string;
  }[];
}

const { questionsAndAnswers } = Astro.props;
---

<div class="space-y-4 max-w-3xl">
  {
    questionsAndAnswers.map((questionAndAnswer) => (
      <details class="group [&_summary::-webkit-details-marker]:hidden bg-primary-100 rounded-md">
        <summary class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900">
          <h2 class="font-medium">{questionAndAnswer.question}</h2>

          <svg
            class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>

        <p class="mt-4 px-4 leading-relaxed text-gray-700">
          {questionAndAnswer.answer}
        </p>
      </details>
    ))
  }
</div>
